.btn{
    display: flex;
}

main div{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 5px;
    text-align: center;
    line-height: 200px;
    
}

main{
    display: flex;
    flex-wrap: wrap;
}